# 빅데이터개론2 과제 4

**제출기한 : 2022년 11월 11일 23시 59분**

각 문제를 읽고 주어진 코드셀에 제시된 변수에 결과를 입력하거나, 주어진 텍스트셀에 프로그램 코드 또는 답안을 입력하여 제출하세요.  


아래는 필요한 라이브러리를 불러오는 코드셀입니다. 반드시 숙제를 시작할 때 먼저 실행시키고 문제에서 적절하게 이용하세요.

In [1]:
# 한글 폰트가 깨질 때 사용 - 런타임 메뉴에서 다시 시작 및 모두 실행 선택. (출처: https://teddylee777.github.io/colab/colab-korean)
#!sudo apt-get install -y fonts-nanum
#!sudo fc-cache -fv
#!rm ~/.cache/matplotlib -rf

In [2]:
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline

plt.rc('font', family='NanumBarunGothic') # clolab 에서 한글 사용 
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams["figure.figsize"] = (10,5)

In [3]:
import math
import numpy as np
import pandas as pd
from itertools import product

**다음은 과제의 수행과 제출에 대한 안내입니다.**

- 빅데이터개론2 과제는 모두 Colab의 공유 기능을 이용하여 제출하게 됩니다. 자세한 제출방법은 강의시간(또는 동영상)에 알려줄 것입니다.

- 제출시 노트북의 이름(화일명)에서 성명과 학번을 자신의 이름과 학번으로 바꾼 후에 제출해야 합니다. (예: `빅데이터개론2-2022F-과제-01-홍길동-12345677.ipynb`) 

- 답을 입력하는 셀에 있는 `...`는 지우고 답을 입력하세요.

- **과제 노트북은 답을 제시하는 코드셀이나 텍스트셀 이외의 내용 또는 순서를 변경하지 마세요.**

## 1. 조건문과 반복문

**문제 1**

**1 부터 200 까지의 정수** 에서 짝수들의 합계(sum)를 구하여 `mysum1` 에 저장하는 코드를 다음 코드 셀에서 작성하시오.

In [4]:
mysum1 = 0
for i in np.arange(1,201):
    remainder = i - (i//2)*2
    if remainder ==0 :
        mysum1 = mysum1 + i 

mysum1

10100

참고로 표현식 `a // b` 는 `a`를 `b` 로 나누는 경우 몫을 출력하고 `a % b` 는 `a` 를  `b` 로 나누는 경우 나머지를 출력한다.

In [5]:
13 // 2

6

In [6]:
13 % 2

1

따라서 아래 코드는 위의 코드와 동일한 작업을 한다.

In [7]:
mysum1 = 0
for i in np.arange(1,201):
    if i % 2 ==0 :
        mysum1 = mysum1 + i 

mysum1

10100

**문제 2**

다음과 같이 7 명 학생의 이름이 포함된 리스트 `student_names` 가 주어졌다고 하자.

In [8]:
student_names = ['이용희', '김철수', '이동철', '윤영이', '고길동', '정이나', '홍길동']

성이 '이'씨인 학생의 수 `mysum2` 을 구하는 코드를 아래 코드 셀에 작성하시오.

**HINT** : 문자열(string)에서 여러 개의 문자(chracter)들로 구성된 벡터 또는 리스트로 생각할 수 있다.

In [9]:
mysum2 = 0

last_names = []

for str in student_names:
  last_names.append(str[0])

for last_name in last_names:
  if "이" in last_name:
    mysum2 = mysum2 + 1

mysum2

2

**참고** 위의 코드에서 `last_names` 는 학생들의 이름이 저장된 리스트 `student_names` 에서 첫 번째 문자, 즉 성만 추출하여 얻은 리스트이다.

In [10]:
last_names

['이', '김', '이', '윤', '고', '정', '홍']

다음에 제시된 코드도 같은 작업을 하지만 반복문을 한 번만 사용하여 다 쉽게 답을 구할 수 있다.

In [11]:
mysum2 = 0
for name in student_names:
  if name[0] == '이' :
    mysum2 = mysum2 + 1

mysum2

2

**문제 3**

$a_1=1$ 이고 $ r= 3$ 인 경우, 다음의 등비 수열의 합을 `mysum3` 에 저장하는 코드를 다음 코드 셀에 입력하시오.

$$ a_{i+1} = r a_{i}$$

$$ \texttt{mysum3 } = \sum_{i=1}^{10} a_i $$

In [12]:
mysum3 = 0

x = 1
r = 3

for i in np.arange(10):
    mysum3 = mysum3 + x
    x = r*x    

mysum3

29524

다음과 같이 반복할 때마다 `i` 와 `a_i`의 값을 출력하여 프로그램이 제대로 작동하는지 확인할 수 있다.

In [13]:
mysum3 = 0

x = 1
r = 3

print("i, a_i")

for i in np.arange(10):
    print(i+1, x)
    mysum3 = mysum3 + x
    x = r*x    

mysum3

i, a_i
1 1
2 3
3 9
4 27
5 81
6 243
7 729
8 2187
9 6561
10 19683

29524

## 2. 확률과 함수

다음과 같은 게임을 생각해 보자.

- 하나의 주사위를 4번 던져서 그 중 한 번이라도 1의 눈이 나오면 승리한다.

먼저 한 번이라도 1의 눈이 나오는 사건을 $A$ 라고 하면 A의 여사건 $A^c$은  어떤 사건인가요?

$A^c$ 는 주사위를 4번 던지는 경우 1의 눈이 한 번도 나오지 않는 사건입니다. 이제 $A^c$ 의 확률은 어떻게 계산할까요? 

 하나의 주사위를 던지는 경우 1의 눈이 아닐 사건의 확률은 5/6입니다. 주사위를 4번 던지는 것은 독립시행이므로 확률은 곱셈 법칙을 이용합니다.



$$ P(A^c) = \left ( \frac{5}{6} \right ) \left ( \frac{5}{6} \right ) \left ( \frac{5}{6} \right ) \left ( \frac{5}{6} \right ) = 0.482253$$

In [14]:
(5/6)**4

0.4822530864197532

여사건의 법칙 $P(A) = 1 - P(A^c)$ 을 적용하면 하나의 주사위를 4번 던져서 그 중 한 번이라도 1의 눈이 나올 확률은 다음과 같습니다.

In [15]:
1-(5/6)**4

0.5177469135802468

하나의 주사위를 던지는 경우 나올 수 있는 표본 공간은 다음과 같다.

$$ S = \{ 1, 2, 3, 4, 5 ,6 \} $$

표본 공간 S 를 다음과 같이 이름이 `dice` 인 리스트로 만들어 보자.

In [16]:
dice = [1,2,3,4,5,6]

**문제 1**

주사위를 4 번 던질 때 나올 수 있는 모든 경우를 포함하는 표본 공간을  이름이 `dice_4` 인 리스트에 저장하는 코드를 아래 코드셀에 작성하시오.

HINT: 라이브러리 `itertools` 에서 제공하는 함수 `product()` 를 이용하자.

In [17]:
dice_4 = list(product(dice, repeat= 4))
dice_4[0:10]

[(1, 1, 1, 1),
 (1, 1, 1, 2),
 (1, 1, 1, 3),
 (1, 1, 1, 4),
 (1, 1, 1, 5),
 (1, 1, 1, 6),
 (1, 1, 2, 1),
 (1, 1, 2, 2),
 (1, 1, 2, 3),
 (1, 1, 2, 4)]

**문제 2**

만약 주사위를 4 번 던진 결과를  리스트 `roll` 에 저장하자. 예를 들어 4번을 던진 결과를 다음과 같이 저장한다.

In [18]:
roll = [6,2,1,1]

주사위를 4번 던진 결과가 저장된 리스트를 인자 `x` 로 받아서 1의 눈의 개수를 세어주는 함수 `count_one(x)` 을 정의하는 코드를 아래 코드 셀에 작성하시오.

In [19]:
def count_one(x):
  total = 0
  for value in x:
    if value == 1:
      total = total + 1
  return(total)

함수 `count_one(x)` 가 정확하게 작성되었다면 위에서 주사위를 던진 결과 `roll`을 인자로 주면 출력값이 2가 나와야 합니다.

In [20]:
count_one(roll)

2

**문제 3 - 보너스 문제**

보너스 문제는 다른 문제보다 점수가 2배로 주어집니다.

이제 위의 문제 1 과 2에서 사용한 프로그램과 함수를 응용하여 **하나의 주사위를  5번 던졌을 때  6의 눈이 두 번 나오는 확률** `p` 을 계산하는 코드를 아래 코드 셀에 작성해 보세요.

In [21]:
# 문제 2번을 응용하여 주사위를 여러 번 던질 때 6의 눈이 나온 횟수를 구하는 함수
# 함수 `count_six` 는 주사위를 몇번 던지는지 상관없이 6의 눈이 나온 횟수를 구해준다.
def count_six(x):
  total = 0
  for value in x:
    if value == 6:
      total = total + 1
  return(total) 

# 주사위를 1번 던질 때 가능한 모든 결과, 즉 표본공간 
dice = [1,2,3,4,5,6]

# 주사위를 5번 던질 때 가능한 모든 결과, 즉 표본공간 
dice_5 = list(product(dice, repeat= 5))

# 주사위를 5번 던질 때 가능한 모든 결과의 수, 즉 표본공간의 크기 (N)
N = len(dice_5)

# 주사위를 5번 던질 때 가능한 모든 결과에 대하여 반복하여  
# 6의 눈이 두 번 나오는 횟수(n)를 구한다.

n = 0

for roll in dice_5:
  res = count_six(roll)
  if res == 2:
    n = n + 1

# 하나의 주사위를 5번 던졌을 때 6의 눈이 두 번 나오는 확률
p = n/N
p

0.16075102880658437