# 빅데이터개론2 과제 1 - 답안

각 문제를 읽고 주어진 코드셀에 제시된 변수에 결과를 입력하거나, 주어진 텍스트셀에 답안을 입력하여 제출하세요.  

아래는 필요한 라이브러리를 불러오는 코드셀입니다. 반드시 숙제를 시작할 때 먼저 실행시키고 문제에서 적절하게 이용하세요.

In [1]:
import math
import numpy as np
import pandas as pd

**제출기한 : 2022년 10월 6일 23시 59분**

**다음은 과제의 수행과 제출에 대한 안내입니다.**

- 빅데이터개론2 과제는 모두 Colab의 공유 기능을 이용하여 제출하게 됩니다. 자세한 제출방법은 강의시간(또는 동영상)에 알려줄 것입니다.

- 제출시 노트북의 이름(화일명)에서 성명과 학번을 자신의 이름과 학번으로 바꾼 후에 제출해야 합니다. 

  + (예: **`빅데이터개론2_2022F_과제-01-홍길동-12345677.ipynb`**) 

- **답을 입력하는 셀에 있는 `...`는 지우고 답 또는 표현식을 입력하세요.**

- **과제의 코드셀과 텍스트셀의 내용 또는 순서를 변경하지 마세요.**

- 과제 노트북의 복사본을 만들거나 다른 노트북을 생성하여 연습할 것을 강력히 권고합니다.

## 1. 표현식

**문제 1**

다음 중 오류가 나는 표현식을 선택하세요. 답은 아래 변수 `exp_ans_1` 에 1,2,3,4 중 한 숫자로 입력하세요.


1.  `1 + "1"`
2.  `1 + 1.3` 
3.  `"1" + "A"`
4.  `1 + 100`

In [2]:
exp_ans_1 = 1

정수형 변수와 문자형 변수는 더할 수 없다!!

In [3]:
1+"1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

문자열 변수를 더하면 문자열을 연결하여 새로운 문자열을 만들어 준다.

In [4]:
"1" + "A"

'1A'

**문제 2**

아래 코드가 실행되었다고 하자.

```
a = [1, 2, 3]
b = [3, 4, 5]
b = [2, 'a', b, a]
```

다음 표현식의 결과는 무었인지 선택하시오. 답은 아래 변수 `exp_ans_2` 에 1,2,3,4 중 한 숫자로 입력하세요.

```
b[3]
```

1. `2`
2. `[1, 2, 3]`
3. `b`
4. `3`

In [5]:
exp_ans_2 = 2

In [6]:
a = [1, 2, 3]
b = [3, 4, 5]
b = [2, 'a', b, a]
b[3]

[1, 2, 3]

**문제 3**

위 문제 2 에서 제시된 코드가 실행되었을 때 다음 표현식의 결과는 무었인지 선택하시오. 답은 아래 변수 `exp_ans_3` 에 1,2,3,4 중 한 숫자로 입력하세요.
 
```
a + b[3]
```

1. `[1, 2, 3]`
2. `[1 ,2, 3, 1, 2, 3]`
3. `[1, 2, 3, b]`
4.  오류

In [7]:
exp_ans_3 = 2

In [8]:
a + b[3]

[1, 2, 3, 1, 2, 3]

## 2.숫자와 행렬

**문제 1**

다음 코드를 수행하면 오류가 발생한다.

```
x = print(100)
y = x + 100
```

그 이유는 변수 `x` 형식과  `100` 의 형식은 더하는(`+`) 연산을 수행할 수 없기 떄문이다. 

변수 `x` 의 형식(type)을 알아내서 문자열로 `num_ans_1` 에 입력하세오

In [9]:
num_ans_1 = "NoneType"

In [10]:
type(x)

NameError: name 'x' is not defined

In [11]:
x = print(100)
y = x + 100

100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

NoneType 은 **값이 없다** 라는 의미를 가지는 자료의 형식입니다.  `print(100)` 은 100이라는 숫자를 우리가 볼 수 있게 출력해주는 기능만 수행합니다. 따라서 `x` 에는 아무 값도 저장되지 않아 형식이 `NonType` 이 되는 것입니다.

**문제 2**

다음과 같은 행렬의 형태와 원소를 가지는 행렬을 라이브러리`numpy`의 행렬 형식으로 정의하여 변수 `num_ans_2`에 입력하세요.

$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
4 & 1 & 2 & 3\\
3 & 4 & 1 & 2\\
2 & 3 & 4 & 1
\end{pmatrix}
$$

In [12]:
num_ans_2 = np.array( [1,2,3,4,4,1,2,3,3,4,1,2,2,3,4,1] ).reshape(4,4)

In [13]:
num_ans_2

array([[1, 2, 3, 4],
       [4, 1, 2, 3],
       [3, 4, 1, 2],
       [2, 3, 4, 1]])

**문제 3**

위의 문제 2에서 정의된 행렬에서 다음과 같은 결과를 얻으려면 어떤 표현식을 입력해야 하는가? 

$$
\begin{pmatrix}
2 & 3 \\
1 & 2 \\
4 & 1  
\end{pmatrix}
$$

문제에 대한 적절한 표현식을 정하고 변수 `num_ans_3` 에 입력하세요 (표현식에서 앞의 문제 2 의 변수 `num_ans_2`를 사용하세요)

In [14]:
num_ans_3 = num_ans_2[0:3, 1:3]

In [15]:
num_ans_3

array([[2, 3],
       [1, 2],
       [4, 1]])

## 3. 문자열

**문제 1**


우리가 글자를 컴퓨터에 입력하는 경우 공백은 공백키(space bar)를 누른다. 하나의 공백(space)으로 시작하는 문자열은 문자 `$` 로 시작하는 문자열보다 순서가 뒤에 있는가?

1. `True`
2. `False`

답은 아래 변수 `chr_ans_1` 에 1,2 중 하나를 입력하세요.

In [16]:
chr_ans_1 = 2

In [17]:
'$' < ' '

False

In [18]:
'$t45' < ' A43s'

False

**문제 2**

아래의 코드가 실행되었다고 하자.

```
m = "폭넓은 교양과 심오한 학문적 이론 및 창의적 전문기술을 지닌 지성인을 기른다. 성실한 근면을 바탕으로 책임과 의무를 다하는 건전한 인격을 갖춘 민주 시민을 기른다."
```

위와 같이 변수 `m` 에  저장된 문자열에서  문자 `을` 또는 `를` 이 나타나는 총 횟수를 
아래 변수 `chr_ans_2` 에 저장할 수 있도록 표현식을 완성하시오.

[힌트] 문자열에 적용되는 메소드 `count()` 를 사용할 수 있다.

In [19]:
chr_ans_2 = 6

In [20]:
m = "폭넓은 교양과 심오한 학문적 이론 및 창의적 전문기술을 지닌 지성인을 기른다. 성실한 근면을 바탕으로 책임과 의무를 다하는 건전한 인격을 갖춘 민주 시민을 기른다."

In [21]:
m.count('을') + m.count('를')

6

**문제 3**

다음과 같은 문자열을 저장할 수 있도록 아래 변수 `chr_ans_3`에 적절한 문자열을 입력하세요 

`그는 "빨리 오세요" 라고 외쳤다.`

In [22]:
chr_ans_3 =  "그는 \"빨리 오세요\" 라고 외쳤다."

In [23]:
chr_ans_3

'그는 "빨리 오세요" 라고 외쳤다.'

**문제 4**

다음과 같은 디렉토리 이름이 저장될 수 있도록 아래 변수 `chr_ans_4`에 적절한 문자열을 입력하세요

`D:\home\statistics\normal`

In [24]:
chr_ans_4  = r"D:\home\statistics\normal"

In [25]:
chr_ans_4

'D:\\home\\statistics\\normal'

In [26]:
print(chr_ans_4)

D:\home\statistics\normal

**문제 5**

다음과 같은 코드가 실행되었다고 하자.

```
i = '하'
j = '웃으셨다'
k = '아버지가'
l = '크게'
p = ' '
```

다음 표현식의 결과가 무었인지 선택하시오.

```
k + p + i*3 + p + j + p + l
```

답은 아래 변수 `chr_ans_5` 에 1,2,3,4 중 한 숫자로 입력하세요.

1. `아버지가 하하하 웃으셨다 크게`
2. `아버지가 하하하 크게 웃으셨다`
3. `아버지가 크게 하하하 웃우셨다`
4.  오류

In [27]:
chr_ans_5 = 1

In [28]:
i = '하'
j = '웃으셨다'
k = '아버지가'
l = '크게'
p = ' '

In [29]:
k + p + i*3 + p + j + p + l

'아버지가 하하하 웃으셨다 크게'

## 4. 데이터프레임

다음은 온라인교과서의  데이터프레임의 정의와 구성요소에 데이터프레임을 만드는 코드이다.

```
df = pd.DataFrame(
    { 'name' : ['이철수', '김영희', '홍길동', 'John Smith', 'Mary Doe'],
      'sex'  : ['M', 'F', 'M', 'M', 'F'],
      'age'  : [ 23, 25, 21, 33, 45],
      'height' : [153.5, 175.3, 163.4, 180.0, 165.7]
    } )
```

위의 코드가 실행되었다고 가정하고 아래 문제 1 - 문제 2 번까지 답하시오.

In [30]:
df = pd.DataFrame(
    { 'name' : ['이철수', '김영희', '홍길동', 'John Smith', 'Mary Doe'],
      'sex'  : ['M', 'F', 'M', 'M', 'F'],
      'age'  : [ 23, 25, 21, 33, 45],
      'height' : [153.5, 175.3, 163.4, 180.0, 165.7]
    } )

In [31]:
df

         name sex  age  height
0         이철수   M   23   153.5
1         김영희   F   25   175.3
2         홍길동   M   21   163.4
3  John Smith   M   33   180.0
4    Mary Doe   F   45   165.7

**문제 1**

위에서 정의된 데이터프레임 `df` 에서 두 개의 열 `sex` 와 `age` 만 슬라이싱하여 아래 변수 `df_ans_` 에 저장하는 표현식을 완성하시오.

In [32]:
df_ans_1 = df[['sex', 'age']]

In [33]:
df_ans_1

  sex  age
0   M   23
1   F   25
2   M   21
3   M   33
4   F   45

**문제 2**

데이터프레임 `df` 에서 여성이고 키가 170 이하인 사람 만으로 구성된 자료를 데이터프레임으로 만들려고 한다.

적절한 표현식을 작성하여 결과를 아래 `df_ans_2` 에 저장히시요

In [34]:
df_ans_2 = df[ (df['sex'] == 'F') & (df['height'] <= 170)]

In [35]:
df_ans_2

       name sex  age  height
4  Mary Doe   F   45   165.7

**문제 3**

다음과 같이 3개의 열을 가진 데이터프레임 `df_ans_3` 을 만드는 표현식을 아래 코드셀에 입력하시오.

| | name | age |	weight|
|--|------:|-----:|-------:|
| 0 | A	| 12	|60.5|
| 1 |	B	| 13	|75.3|
|2	|C	|14	|47.3 |

In [36]:
df_ans_3  = pd.DataFrame( {
    'name' : [ 'A', 'B', 'C' ],
     'age' : [12, 13, 14 ],
     'weight' : [ 60.5, 75.3, 47.3]
})

In [37]:
df_ans_3

  name  age  weight
0    A   12    60.5
1    B   13    75.3
2    C   14    47.3